<div class="d-flex" [class.collapsed]="collapsed">
    <app-navbar (toggle)="toggleSidebar()"></app-navbar>
    <div class="content-area w-100">
        <app-header></app-header>
        <div class="main-content p-3">
            <div class="container mt-4">
                <div class="card bg-body rounded">
                    <div class="card-body container-fluid">
                        <div class="text-center mb-4">
                            <h2>Update MCA</h2>
                        </div>
                        <form (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="cin" class="form-label">Corporate Identification Number(CIN)</label>
                                        <input type="text" class="form-control" id="cin" placeholder="Enter Corporate Identification Number" [(ngModel)]="mca.cin" name="Corporate Identification Number">
                                    </div>
                                    <!-- <div class="mb-3">
                                        <label for="companyName" class="form-label">Company Name</label>
                                        <input type="text" class="form-control" id="companyName"
                                            placeholder="Enter Company Name" [(ngModel)]="mca.companyName"
                                            name="companyName">
                                    </div> -->
                                    <div class="mb-3">
                                        <label for="registrationNo" class="form-label">Registration Number</label>
                                        <input type="text" class="form-control" id="registrationNo" placeholder="Enter Registration Number" [(ngModel)]="mca.registrationNo" name="registrationNo">
                                    </div>
                                    <div class="mb-3">
                                        <label for="dateOfIncorporation" class="form-label">Date Of Incorporation</label>
                                        <input type="date" class="form-control" id="dateOfIncorporation"
                                            placeholder="Enter Date Of Incorporation" [(ngModel)]="mca.dateOfIncorporation" name="dateOfIncorporation">
                                    </div>
                                    <div class="mb-3">
                                        <label for="rocName" class="form-label">Registrar of Companies Name</label>
                                        <input type="text" class="form-control" id="rocName" placeholder="Enter Registrar of Companies Name" [(ngModel)]="mca.rocName" name="rocName">
                                    </div>
                                    <div class="mb-3">
                                        <label for="registeredAddress" class="form-label">Registered Address</label>
                                        <input type="text" class="form-control" id="registeredAddress"
                                            placeholder="Enter Registered Address" [(ngModel)]="mca.registeredAddress" name="registeredAddress">
                                    </div>
                                    <div class="mb-3">
                                        <label for="classOfCompany" class="form-label">Class Of Company</label>
                                        <input type="text" class="form-control" id="classOfCompany" placeholder="Enter Class Of Company" [(ngModel)]="mca.classOfCompany" name="classOfCompany">
                                    </div>
                                    
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="stockExchanges" class="form-label">Stock Exchanges</label>
                                        <input type="text" class="form-control" id="stockExchanges"
                                            placeholder="Enter Stock Exchanges" [(ngModel)]="mca.stockExchanges" name="stockExchanges">
                                    </div>
                                    <div class="mb-3">
                                        <label for="paidUpCapital" class="form-label">Paid Up Capital</label>
                                        <input type="text" class="form-control" id="paidUpCapital"
                                            placeholder="Enter Paid Up Capital" [(ngModel)]="mca.paidUpCapital"
                                            name="paidUpCapital">
                                    </div>
                                    <div class="mb-3">
                                        <label for="authorisedCapital" class="form-label">Authorized Capital</label>
                                        <input type="text" class="form-control" id="authorisedCapital"  placeholder="Enter Authorized Capital" [(ngModel)]="mca.authorisedCapital" name="authorisedCapital">
                                    </div>
                                    <div class="mb-3">
                                        <label for="telephone" class="form-label">Telephone</label>
                                        <input type="text" class="form-control" id="telephone"
                                            placeholder="Enter Telephone" [(ngModel)]="mca.telephone"
                                            name="telephone">
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email Id</label>
                                        <input type="email" class="form-control" id="email"  placeholder="Enter Email Id" [(ngModel)]="mca.email" name="email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="mobileNo" class="form-label">Mobile Number</label>
                                        <input type="tel" class="form-control" id="mobileNo"
                                            placeholder="Enter Mobile Number" [(ngModel)]="mca.mobileNo" name="mobileNo">
                                    </div>
                                    <div class="mb-3">
                                        <label for="v2emailId" class="form-label">V2 Email Id</label>
                                        <input type="email" class="form-control" id="v2emailId" placeholder="Enter V2 Email Id"
                                            [(ngModel)]="mca.v2emailId" name="v2emailId">
                                    </div>
                                                                       
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="v2loginid" class="form-label">V2 Login Id</label>
                                        <input type="text" class="form-control" id="v2loginid"
                                            placeholder="Enter V2 Login Id" [(ngModel)]="mca.v2loginid" name="v2loginid">
                                    </div>
                                    <div class="mb-3">
                                        <label for="v2password" class="form-label">V2 Password</label>
                                        <input type="password" class="form-control" id="v2password"
                                            placeholder="Enter V2 Password" [(ngModel)]="mca.v2password"
                                            name="v2password">
                                    </div>
                                    <div class="mb-3">
                                        <label for="v3emailId" class="form-label">V3 Email Id</label>
                                        <input type="email" class="form-control" id="v3emailId"
                                            placeholder="Enter V3 Email Id" [(ngModel)]="mca.v3emailId" name="v3emailId">
                                    </div>
                                    <div class="mb-3">
                                        <label for="v3loginid" class="form-label">V3 Login Id</label>
                                        <input type="text" class="form-control" id="v3loginid"
                                            placeholder="Enter V3 Login Id" [(ngModel)]="mca.v3loginid" name="v3loginid">
                                    </div>
                                    <div class="mb-3">
                                        <label for="v3password" class="form-label">V3 Password</label>
                                        <input type="password" class="form-control" id="v3password"
                                            placeholder="Enter Transaction Code" [(ngModel)]="mca.v3password"
                                            name="v3password">
                                    </div>
                                   <div class="mt-5 mb-3">
                                        <label for="active" class="form-label">Active:</label>
                                        <input type="radio" name="active" id="yes" [(ngModel)]="mca.active" value=true>
                                        Yes
                                        <input type="radio" name="active" id="no" [(ngModel)]="mca.active" value=false>
                                        No
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mb-3">
                                <button type="submit" class="btn btn-submit mr-1">Update</button>
                                <a href="#" routerLink="/mcalist" routerLinkActive="active" class="me-2">
                                    <button type="button" class="btn btn-back">
                                        <i class='bx bx-arrow-back'></i> Cancel
                                    </button>
                                </a>

                            </div>
                        </form><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>