<div class="d-flex" [class.collapsed]="collapsed">
  <app-navbar (toggle)="toggleSidebar()"></app-navbar>
  <div class="content-area w-100">
    <app-header></app-header>
    <div class="main-content p-3">
      <div class="container mt-4">
        <div class="card bg-body rounded">
          <div class="card-body container-fluid">
            <div class="text-center mb-4">
              <h2>View Directors Details</h2>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="name" class="form-label"><b>Director Name:</b></label>
                  <p class="form-control">{{directors.name}}</p>
                </div>
                <div class="mb-3">
                  <label for="designation" class="form-label"><b>Director Designation:</b></label>
                  <p class="form-control">{{directors.designation}}</p>
                </div>
                <div class="mb-3">
                  <label for="dinNo" class="form-label"><b>Director Identification Number:</b></label>
                  <p class="form-control">{{directors.dinNo}}</p>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label"><b>Email Id:</b></label>
                  <p class="form-control">{{directors.email}}</p>
                </div>
                <div class="mb-3">
                  <label for="mobileNo" class="form-label"><b>Mobile Number:</b></label>
                  <p class="form-control">{{directors.mobileNo}}</p>
                </div>

              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="address" class="form-label"><b>Address:</b></label>
                  <p class="form-control">{{directors.address}}</p>
                </div>
                <div class="mb-3">
                  <label for="dateOfAppointment" class="form-label"><b>Date of Appointment:</b></label>
                  <p class="form-control">{{directors.dateOfAppointment}}</p>
                </div>
                <div class="mb-3">
                  <label for="dateOfExit" class="form-label"><b>Date of Exit:</b></label>
                  <p class="form-control">{{directors.dateOfExit}}</p>
                </div>

                <div class="mb-3">
                  <label for="panNo" class="form-label"><b>PAN Number:</b></label>
                  <p class="form-control">{{directors.panNo}}</p>
                </div>
                <div class="mb-3">
                  <label for="aadharNo" class="form-label"><b>Aadhar Number:</b></label>
                  <p class="form-control">{{directors.aadharNo}}</p>
                </div>

              </div>
              <div class="col-md-4">

                <div class="mb-3">
                  <label for="passportNo" class="form-label"><b>Passport Number:</b></label>
                  <p class="form-control">{{directors.passportNo}}</p>
                </div>
                <div class="mb-3">
                  <label for="position" class="form-label"><b>Photo:</b></label><br>
                  <img [src]="imageUrl" *ngIf="imageUrl" class="img-thumbnail mt-2" alt="Company Logo" height="100px" width="100px">
                </div>
                <div class="mb-3">
                  <label for="active" class="form-label"><b>Active:</b></label>
                  <p class="form-control">{{directors?.active ? 'Yes' : 'No'}}</p>
                </div>
              </div>
            </div>
            <div class="text-center mb-3">
              <a href="#" routerLink="/directorlist" routerLinkActive="active" class="me-2">
                <button type="button" class="btn btn-back">
                  <i class='bx bx-arrow-back'></i> Back
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>