            <app-header></app-header>
            <div class="container mt-4">
                <div class="card mt-2 p-3 mb-1 bg-body rounded">
                    <div class="card-body container-fluid">
                        <div class="text-center mb-4">
                            <h2>Company Registration</h2>
                        </div>
                        <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="companyCode" class="form-label">Company Code</label>
                                        <input type="text" class="form-control" id="companyCode"
                                            placeholder="Enter Company Code"
                                            formControlName="companyCode">
                                        <div *ngIf="regForm.get('companyCode').touched && regForm.get('companyCode').hasError('required')"
                                            style="color: red;">
                                            Enter Company Code
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="companyname" class="form-label">Company Name</label>
                                        <input type="text" class="form-control" id="companyname"
                                            placeholder="Enter Company Name"
                                            formControlName="companyname">
                                        <div *ngIf="regForm.get('companyname').touched && regForm.get('companyname').hasError('required')"
                                            style="color: red;">
                                            Enter Company Name
                                        </div>
                                        <div *ngIf="regForm.get('companyname').touched && (regForm.get('companyname').hasError('minlength') || regForm.get('companyname').hasError('maxlength'))" class="text-danger">
                                            Please enter a valid Company Name.
                                          </div>
                                          <div *ngIf="regForm.get('companyname').touched && regForm.get('companyname').hasError('pattern')" class="text-danger">
                                            Company Name can only contain letters and spaces.
                                          </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cin" class="form-label">Company Identification Number(CIN)</label>
                                        <input type="text" class="form-control" id="cin" placeholder="Enter CIN"
                                            formControlName="cin">
                                        <div *ngIf="regForm.get('cin').touched && regForm.get('cin').hasError('required')"
                                            style="color: red;">
                                            Enter CIN
                                        </div>
                                        <div *ngIf="regForm.get('cin').touched && (regForm.get('cin').hasError('minlength') || regForm.get('cin').hasError('maxlength'))" class="text-danger">
                                            Please enter a valid Corporate Identification Number.
                                          </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="registerNo" class="form-label">Registration Number</label>
                                        <input type="text" class="form-control" id="registerNo"
                                            placeholder="Enter Registration Number"
                                            formControlName="registerNo">
                                        <div *ngIf="regForm.get('registerNo').touched && regForm.get('registerNo').hasError('required')"
                                            style="color: red;">
                                            Enter Registration Number
                                        </div>
                                        <div *ngIf="regForm.get('registerNo').touched && (regForm.get('registerNo').hasError('minlength') || regForm.get('registerNo').hasError('maxlength'))" class="text-danger">
                                            Please enter a valid Registration Number.
                                          </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="dateOfIncorporation" class="form-label">Date of Incorporation</label>
                                        <input type="date" class="form-control" id="dateOfIncorporation"
                                            placeholder="Enter Date of Incorporation"
                                             formControlName="dateOfIncorporation">
                                        <div *ngIf="regForm.get('dateOfIncorporation').touched && regForm.get('dateOfIncorporation').hasError('required')"
                                            style="color: red;">
                                            Enter Incorporation Date
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="logo" class="form-label">Logo</label>
                                        <input type="file" class="form-control" formControlName="image"  id="logo"
                                        (change)="onFileSelected($event)" placeholder="Enter logo">
                                        <br> 
                                        <div *ngIf="imageSrc">
                                            <img [src]="imageSrc" class="img-thumbnail mt-2" alt="Selected Logo" width="100px" height="100px">
                                          </div>
                                      </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="address" class="form-label">Address</label>
                                        <input type="text" class="form-control" id="address" placeholder="Enter Address"
                                            formControlName="address">
                                        <div *ngIf="regForm.get('address').touched && regForm.get('address').hasError('required')"
                                            style="color: red;">
                                            Enter Address
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="city" class="form-label">City</label>
                                        <input type="text" class="form-control" id="city" placeholder="Enter City"
                                            formControlName="city">
                                        <div *ngIf="regForm.get('city').touched && regForm.get('city').hasError('required')"
                                            style="color: red;">
                                            Enter City
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="state" class="form-label">State</label>
                                        <input type="text" class="form-control" id="state" placeholder="Enter State"
                                            formControlName="state">
                                        <div *ngIf="regForm.get('state').touched && regForm.get('state').hasError('required')"
                                            style="color: red;">
                                            Enter State
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="pincode" class="form-label">PIN Code</label>
                                        <input type="text" class="form-control" id="pincode"
                                            placeholder="Enter PIN Code"
                                            formControlName="pincode">
                                        <div *ngIf="regForm.get('pincode').touched && regForm.get('pincode').hasError('required')"
                                            style="color: red;">
                                            Enter PIN Code
                                        </div>
                                        <div *ngIf="regForm.get('pincode').touched && (regForm.get('pincode').hasError('minlength') || regForm.get('pincode').hasError('maxlength'))" class="text-danger">
                                            Please enter a valid PIN Code.
                                          </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email" placeholder="Enter Email"
                                            formControlName="email">
                                        <div *ngIf="regForm.get('email').touched && regForm.get('email').hasError('required')"
                                            style="color: red;">
                                            Enter Email
                                        </div>
                                        <div *ngIf="regForm.get('email').touched && regForm.get('email').hasError('pattern')" class="text-danger">
                                            Please enter a valid Email Id.
                                          </div>
                                    </div>
                                </div>
                                <div class="col md 4">
                                    <div class="mb-3">
                                        <label for="phoneNo" class="form-label">Phone Number</label>
                                        <input type="number" class="form-control" id="phoneNo"
                                            placeholder="Enter Phone Number"
                                            formControlName="phoneNo">
                                            <div *ngIf="regForm.get('phoneNo').touched && regForm.get('phoneNo').hasError('pattern')" class="text-danger">
                                                Please enter a valid Phone Number.
                                              </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="telephoneNo" class="form-label">Telephone Number</label>
                                        <input type="number" class="form-control" id="telephoneNo"
                                            placeholder="Enter Telephone Number"
                                            formControlName="telephoneNo">
                                        <div *ngIf="regForm.get('telephoneNo').touched && regForm.get('telephoneNo').hasError('required')"
                                            style="color: red;">
                                            Enter Telephone Number
                                        </div>
                                        <div *ngIf="regForm.get('telephoneNo').touched && (regForm.get('telephoneNo').hasError('minlength') || regForm.get('telephoneNo').hasError('maxlength'))" class="text-danger">
                                            Please enter a valid Telephone Number.
                                          </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="faxNo" class="form-label">Fax Number</label>
                                        <input type="text" class="form-control" id="faxNo"
                                            placeholder="Enter Fax Number"
                                            formControlName="faxNo">
                                        <div *ngIf="regForm.get('faxNo').touched && regForm.get('faxNo').hasError('required')"
                                            style="color: red;">
                                            Enter Fax Number
                                        </div>
                                        <div *ngIf="regForm.get('faxNo').touched && (regForm.get('faxNo').hasError('minlength') || regForm.get('faxNo').hasError('maxlength'))" class="text-danger">
                                            Please enter a valid Fax Number.
                                          </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="website" class="form-label">Website</label>
                                        <input type="text" class="form-control" id="website" placeholder="Enter Website"
                                            [(ngModel)]="org.website" formControlName="website">
                                        <div *ngIf="regForm.get('website').touched && regForm.get('website').hasError('required')"
                                            style="color: red;">
                                            Enter Website
                                        </div>
                                    </div>


                                    <div class="mb-3">
                                        <label for="active" class="form-label">Active:</label>
                                        <input type="radio" name="active" id="yes" formControlName="active" value=true> Yes
                                        <input type="radio" name="active" id="no" formControlName="active" value=false> No
                                        <div *ngIf="regForm.get('active').touched && regForm.get('active').hasError('required')"
                                            style="color: red;">
                                            Select Active status
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mb-3">
                                <a href="#" routerLink="/companylist" routerLinkActive="active" class="me-2">
                                    <button type="button" class="btn btn-back">
                                        <i class='bx bx-arrow-back'></i> Back
                                    </button>
                                </a>
                                <button type="submit" class="btn btn-primary" [disabled]="regForm.invalid">Submit</button>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>